@charset "utf-8";
/* CSS Document */


  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
  width: 1440px;
  height: 1884px;
  padding: 0px 20px;
  font-size: 18px;
	
}

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
	margin: 2px;
}

/************************************
*            header + nav           *
************************************/

#logo {
	width: 61px;
	height: 29px;
	margin-right: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 30px;
  
}

nav a {
  padding: 38px 20px ;
}  

nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  width: 162px;
  height: 2px;
 
}

.sub-nav a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

}


/************************************
*         title + search-box        *
************************************/


.wrapper {
  padding: 0 20px;
}

h1 {
	font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
p {
	font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.search-form {
  display: flex;
  border: 1px solid #F2F2F2;
  border-radius: 15px;
}

.search-form i {
  padding: 15px 18px 15px 18px;
  background:#F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 15px 0px 0px 15px;

	
}

.search-form input {
  border: 1px #F2F2F2;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
	
}

.search-form input::placeholder {
  color: #000000;
  padding-right: 20px;
}

.search-form button {
	display: flex;
  align-items: center;
  padding: 15px 16px;
	background: #0065FC;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/************************************
*              Filtres              *
************************************/

.filter-list {
	display: flex;
  padding: 20px 0px;
	
  
}

.filter {
display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.filter-box {
	box-sizing: border-box;
	padding: 0 20px;
	margin: 5px 20px;
	border: 2px solid #d9d9d9;
  border-radius: 25px;
  background-color: #FFFFFF;
  font-weight: 700;
	font-size: 17px;
	line-height: 20px;
  cursor: pointer;
}

.icones-filtres{
  color: #0065FC;
  font-size: 17px;
  margin-right: 10px;
    
}

.filter button:hover{
  background-color: #DEEBFF;
}


/************************************
*               Infos               *
************************************/

.info{
  display: flex;
	align-items: center;
    
}

.info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.fa-info{
	box-sizing: border-box;
	color: #0065FC;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 10px;
  text-align: center;
}

/************************************
*           Hébergements list            *
************************************/

.hebergement-list {

	display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
	
}

.hebergement-list h2{
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin: 30px 0px 20px 20px;
		
}

.hebergement-list .city {

	background: #F2F2F2;
	border-radius: 20px;
	Width: 880px;
	Height: 626px;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
}

.hebergement-list .city a  {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
	
}

.city-hebergement-list {
	
  display: grid;
  grid-template-columns: 29% 29% 29%;
  gap: 35px;
  justify-content: center;
  align-items: center;

}

.city-hebergement{
  width: 246px;
  height: 199px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: -2px 8px 8px 2px rgb(227, 227, 227);
}

.img-hebergement{
  width: 246px;
  height: 124px;
  border: 5px solid #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.description-hebergement{
  margin-left: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.description-hebergement p, .description-popular p{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

}

.etoiles{
  display: flex;
  gap: 0.3px;
}

.fa-star{
  color:#0065FC;
  font-size: 12px;
}

.etoile-decoloree{
  color: #d9d9d9;
}

span{
  font-weight: bold;
}


#Afficher-plus{
  border: none;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin: 35px 0 0 20px;
  line-height: 21px;
}

.hebergement-list .popular {
	
  background: #F2F2F2;
  height: 625px;
  width: 420px;
  border-radius: 20px;
	
}


/************************************
*           Popular list            *
************************************/

.hebergement-list .puplar {
	display: flex;
	background: #F2F2F2;
	height: 625px;
  width: 420px;
  border-radius: 20px;
	
}

.icone-popular{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-chart-line{
  margin-right: 21px;
  color: #0065FC;
  font-size: 18px;
}

.img-popular{
  height: 144px;
  width: 40%;
  border: 5px solid #FFFFFF;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
  vertical-align: middle;
}

.carte-popular{
  height: 144px;
  width: 90%;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 0 auto 32.5px auto;
  box-shadow: -2px 8px 8px 2px rgb(227, 227, 227);
}

.description-popular{
  display: inline-block;
  width: 169px;
  vertical-align: top;
  margin: 15px 0 0 10px;
}
