@charset "utf-8";
/* CSS Document */


  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

* {
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

nav {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

nav a {
  padding : 20px;
}  

nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.sub-nav a {
  text-align: center;

}

#logo {
  margin-right: auto;
}

.wrapper {
  padding: ;
}

.search-form {
  display: flex;
}

i {
  padding: 10px;
  background-color: lightgrey;
  border-radius: 15px 0 0;
  -webkit-border-radius: 15px 0 0;
  -moz-border-radius: 15px 0 0;
  -ms-border-radius: 15px 0 0;
  -o-border-radius: 15px 0 0;
}